@font-face {
  font-family: "Hakgyoansim Boardmarker R";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimBoardmarkerR/Hakgyoansim_BoardmarkerR.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimBoardmarkerR/Hakgyoansim_BoardmarkerR.woff") format("woff"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimBoardmarkerR/Hakgyoansim_BoardmarkerR.otf") format("opentype"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimBoardmarkerR/Hakgyoansim_BoardmarkerR.ttf") format("truetype");
}